<header>
  <h4>
    <strong style="margin-right: 1rem">StimulusReflex</strong>
    <%= link_to "Todo", todos_path, style: "margin-right: 1rem"%>
    <%= link_to "Search", people_path, style: "margin-right: 1rem"%>
    <%= link_to "MessageBoard", messages_path, style: "margin-right: 1rem"%>
    <%= link_to "NoGood", messages_path, style: "margin-right: 1rem"%>
  </h4>
</header>
